body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal {
    width: 100%;
    background-color: #696969;
    height: 80px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.header-1 {
    width: 980px;
    margin: 0 auto;
}
.logo{
    float: left;
    padding: 4px;
    width: 60%;
    margin-left: 13px;
}
.redes-sociais ul li {
    float: left;
    list-style: none;
    margin: 4px;
}
.redes-sociais{
    width: 20%;
    float: right;
    padding: 10px;
}
.int{
    width: 70%;
    float: left;  
}
 #navigation {
    padding: 0px!important;
    margin-top: 25px;
}
.pesquisa{
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 97% ;
    background-size: 15px;
    padding: 3px;
    border-radius: 4px;
    border: 2px solid #ffeb00;
    margin-top: 20px;
    height: 23px;
    margin-left: 99px;
}
.info {
    background-color: #ffffff;
    width: 980px;
    border-bottom: 3px solid #808080;
    /*temporario*/
    position: relative;
    height: 80px;
    width: 100%;
}
.info ul li {
    margin-left: 17px;
    display: inline-block;
}
.info ul li a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 70%;
}
.info ul li a:hover {
    color: #ffeb00;
}
.tags{
    width: 980px;
    margin: 0 auto;
}
.busca {
    float: right; 
    width: 30%;
}